.about-card {
  width: 98.6vw;        /* to have a margin on the right*/
  position: relative;
  left: 0%;
  right: 0%; 
  padding: 0px; 
}

.about-content {
  padding: 20px;
  line-height: 1.6;
}

/* ---------------- CARDS ---------------- */

.card-frame {
  background: var(--card-bg);
  border: 3px solid var(--primary-color);
  border-radius: 12px;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card-header {
  background: #f1f3f5;
  padding: 10px 15px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 17px;
}