.card-frame {
  background: var(--card-bg);
  border: 3px solid var(--primary-color);
  border-radius: 12px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.about-card {
  width: 98.6vw;        /* to have a margin on the right*/
  position: relative;
  left: 0%;
  right: 0%; 
  padding: 0px;
}

.card-header {
  background: #f1f3f5;
  padding: 10px 15px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 17px;
}

.about-content {
  padding: 20px;
  line-height: 1.6;
  display: flex;
  justify-content: center;      /* Centers horizontally */
  align-items: top;          /* Centers vertically */
  height: auto;
  background: linear-gradient(rgba(71, 71, 71, 0.117),rgba(0, 0, 0, 0.558)),url('/images/earth3.png');
  background-size: cover;
  background-position: center;
  height: 100dvh;
}

.about-content p {
  position: relative;
  max-width: 80ch;
  line-height: 1.6;
  color: #e1e2e4;
  text-wrap: balance;
  margin-bottom: 1.5rem;   
  font-size: 1.135rem;
  padding-top: 20px;
}

.about-content p ol {
  background-color: rgba(12, 12, 12, 0.14);
  backdrop-filter: blur(16px);
  border-radius: 10px;  
  padding: 14px;
  padding-top: 2px;
}

.about-content p ol li {
  display: flex;
  justify-content: space-between;
}

.about-content p ol li:first-child {
  color: rgb(223, 223, 222);
}

.about-content a {
  position: relative;
  display: inline-block;
  transition: 0.2s ease-in;
  font-size: 1.26rem;
  color: rgb(3, 5, 84);
}

.about-content a:hover {
  transform: scale(1.0);
  font-weight: 600;
}

/* test this */
.about-card .mapview-bottom {
  position: relative;
  flex: 1;
  min-height: 100px;
  width: 100%;
  border-radius: 18px;
  overflow: hidden;
  top: 2px;
  bottom: 0px;                 
}