/* ---------------- CARDS ---------------- */

.card-frame {
  background: black;                            /*border: 3px solid var(--primary-color);*/                                     
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  min-height: 100vh;
  margin-bottom: 0px;
  padding: 1px;
}

.card-header {
  background: #b6b8ba68;
  padding: 10px 15px;
  font-weight: bold;
  box-shadow: 0px 0 12px rgba(59, 57, 57, 0.818);
  text-align: center;
  font-size: 17px;
  z-index: 100;
  margin-bottom: 6px;
}

/* ---------------- INFO GRID ---------------- */

.info-grid {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 10px;
  text-align: center;
  background: #011326e9;
  padding: 4px;
  border-radius: 15px;
  font-size: 18px;
  color: white;
}

.info-item span {
  font-weight: 400;
  font-size: 15px;
  color: rgb(172, 164, 164);
}

.info-item .pill {
  box-shadow: 0px 0 0px rgba(255, 255, 255, 0.159);         /*no good*/
  border-radius: 8px;
  background: transparent;
}
