.download-btn {
  padding: 8px;
  background: #27ae60;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.778);
}

.download-btn:hover {
  background: #27ae60;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.931);
}

/* ---------------- EXPORT PANEL ---------------- */

.retractable-panel {
  position: relative;
  margin-top: 10px;
  padding: 15px;
  background: #011326e9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(210, 210, 210);
}

.checkbox-row {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: auto;                                 /*text cursor*/
  color: rgb(255, 255, 255);
}

.checkbox-row input[type="checkbox"] {
  opacity: 0.9;
  cursor: pointer;
  border-radius: 50%;
}

/* ---------------- DATE PICKER ---------------- */



h4 {
  background-color: #956caf34;
  padding: 2px;
  border-radius: 5px;
  margin-left: 0;
  padding-left: 15px;
  padding-right: 15px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}