.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background: #1f1f1f;        /*#164c4e*/
  color: rgb(255, 255, 255);
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  flex-grow: 1;                 /* ?*/
}

.footer a {
  color: #7f8093;
  text-decoration: none;    /*underline, etc*/
  margin-right: 10px;
  font-weight: 500;
  font-size: small;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-right img {
  height: 69px;
  margin-left: 30px;
  
}

/*missin footer-left and center?? */

.footer-left {
  color: white;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.621);
  border-radius: 10px;
  padding: 5px;
}

.footer-center{
  color: white;
  box-shadow: 0 0 5px rgba(88, 138, 182, 0.621);
  border-radius: 7px;
  padding: 8px;
}

/* Add a liner gradient here to highlight the logos */