/* ---------------- NAVBAR ---------------- */

.navbar {
  position: sticky;   
  top: 0px;
  z-index: 1000;

  height: 74px;
  background: var(--primary-color);
  color: rgb(255, 255, 255);

  background-image: url('/images/Rotating_earth.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background: linear-gradient(90deg, rgb(0, 0, 63), rgb(184, 1, 181));

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.status-dot { 
  background: #dadcec;    /*#eef4ef*/ 
  color: #129219;         /*#239228*/
  padding: 4px 6px; 
  border-radius: 9px; 
  font-size: 20px;   
  font-weight: bold;
  align-items: center;
}

.navbar span {
  font-size: 20px;
}