.splited-gallery select{            /*mising splitted-gallery alone?*/
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  border: 1px solid #000000;
  font-size: 17px;
  background-color: #90b4a743;
  margin: 9px;
  box-shadow: 0 0 10px rgba(3, 50, 112, 0.357);
}        


.splited-gallery input {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #ffffff89;
  align-items: center;
  justify-content: center;
}

.title-select {
  display: flex;
  padding: 9px;
  margin-left: 5px;
  gap: 10px;
}

/* ---------------- CARDS ---------------- */

.card-frame {
  background: var(--card-bg);
  border: 3px solid var(--primary-color);
  border-radius: 12px;
  overflow: hidden;
  height: auto;                                   /* fit-content maybe */
  display: grid;                                  
  flex-direction: column;
  grid-template-rows: auto 1fr auto;
  box-shadow: 0 0px 10px rgba(0,0,0,0.05);
}

.card-header {
  background: #011a32;
  padding: 10px 15px;
  font-weight: bold;
  border-bottom: 1px solid #dddddd;         /* ?? */
  text-align: center;
  font-size: 17px;
}

/* ---------- GALLERY ---------- */

.gallery-card {
  flex: 1;
  height: 100%;
  background: linear-gradient(90deg, rgba(2, 2, 94, 0.129), rgba(140, 0, 138, 0.795)) !important;
}


.gallery-container {
  display: flex;
  flex-direction: column;
  height: 570px;               /*useless if height is set to a fixed value*/
  width: 100%;
  min-width: 0;
  padding: 10px;
  margin: 0px;
}

.image-wrapper {
  position: relative;       /* important */
  flex: 1;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  /*background: #1111117f;*/
  max-height: 100%; 
  max-width: 100%;
  background-image: url('/images/leaves.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 14px;                                /* with respect to the content inside it */
}

.image-wrapper img {
  width: 100%;                   /*realtive to parent*/
  height: 100%;
  object-fit: contain;
  transition: .4s ease-in-out;
}


.image-wrapper img:hover {
  transform: scale(1.03);
}

.gallery-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}

.gallery-controls button {
  background: #3498db;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  gap: 0px;
  margin-left: 32px;
  margin-right: 32px;
  transition: 0.4s;
}

.gallery-controls button:hover {
  background: #2c80b4;
}

/* dots */

.gallery-dots {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.dot {
  width: 8px;
  height: 8px;
  background: #6c6bc3cb;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: #3498db;
  width: 18px;
  border-radius: 6px;
}

/* Zoom button */
.zoom-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(52, 0, 49, 0.6);
  color: white;
  border: none;
  padding: 14px 20px;
  border-radius: 6px;
  cursor: pointer;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.785);
  }
  70% {
    /* Shadow expands to 20px and fades out */
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);        
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* Modal */
.zoom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.zoom-modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}


/* Task: make the transitions smooth: image changes, zooms, button hovers, etc */