/* ---------------- ROOT & RESET ---------------- */

:root {
  --primary-color: #000000ed;      /*#098381*/
  --accent-color: #2318c3;
  --bg: #c4cecb8f;
  --card-bg: #e4e3e3b3;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  max-width: 100%;
  padding: 0;
  background: var(--card-bg);           /*#d7d3d364*/
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--card-bg);
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  display: grid;
  grid-template-rows: auto  1fr auto;  
}